.navLink {
    line-height: 0.75rem;
    position: relative;
    text-decoration: none;
    color: var(--accent);
    /*background-color: white;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.linkCopy {
    position: absolute;
    bottom: 0;

}

.linkOriginalChild {
    display: inline-block;
}

.linkCopyChild {
    display: inline-block;
}