.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.navLink {
    line-height: 0.75rem;
    position: relative;
    text-decoration: none;
    color: var(--accent);
    /*background-color: white;*/
}


.linkCopy {
    display: inline-block;
    position: absolute;
    inset: 0;
    /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.inlineBlock {
    display: inline-block;
}

